@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        @apply font-[Raleway];
    }

    li{
        @apply px-4 py-2 cursor-pointer;
    }

    .heading-outline{
        @apply text-4xl font-bold inline border-b-4 border-pink-600;
    }

    .navbar-top-items{
        @apply transition-all duration-200 hover:scale-110 hover:bg-pink-600 rounded-lg;
    }

    .social-box{
        @apply w-[160px] h-[60px] flex justify-between items-center ml-[-100px] hover:ml-[-10px] transition-all duration-300;
    }

    .social-a{
        @apply flex justify-between items-center w-full text-gray-300;
    }
}

.content-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    transition: 0.5s ease-in-out;
}

.content-div:hover{
    background-image: linear-gradient(
        to right,
        rgba(112,157,255,0.8),
        hsla(242, 74%, 61%, 0.8)
    )!important;
}